<mat-toolbar>
  <div class="home">
    <mat-icon [routerLink]="[Path.Home]" class="pointer" fontIcon="home"></mat-icon>
    <span> My Angular Demo </span>
  </div>
  <div class="nav">
    <mat-icon [routerLink]="[Path.Table]" class="pointer" fontIcon="table"></mat-icon>
    <mat-icon [routerLink]="[Path.TableDrag]" class="pointer" fontIcon="menu_open"></mat-icon>
    <mat-icon [routerLink]="[Path.TableGrouped]" class="pointer" fontIcon="dataset"></mat-icon>
    <!-- <mat-icon [routerLink]="['/']" class="pointer" fontIcon="home"></mat-icon>
    <mat-icon [routerLink]="['/']" class="pointer" fontIcon="home"></mat-icon> -->
  </div>
</mat-toolbar>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>
